#totalContainer{
    margin-left: 5%;
    margin-right: 5%;
    display: none;
}

.btnContainer{
     padding: 2%;
     display: block;
     width: auto;
     text-align:center;
     background: #323;
 }

.currentBtn, .currentBtn:hover{
    background: #195;
    color: white;
}

.cmnBtn, .currentBtn {
    width: 10%;
    padding: 10px;
    align: center;
    border: solid 2px #333;
    cursor: pointer;
    display: inline-block;
}

.cmnBtn:hover{
    background: #ff1;
}

.show{
    display: none;
}

i{
  border-radius: 60px;
  padding: 0.5em 0.5em;
  vertical-align: middle;
  background: coral;
  position: relative;
  top: -30px;
  align: center;
  display: block;
}

.simulationIcon{
    text-align: center;
}

i:hover{
    background: green;
    cursor: pointer;
    padding: 0.7em 0.7em;
}

header{
    display: block;
    text-align: center;
    border: 1px solid black;
    height: auto;
}